* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --ff-text: 'Palanquin', sans-serif;
    --ff-grandes: 'Staatliches', cursive;
    --ff-footer: 'Open Sans', sans-serif;
    --ff-desk: 'Roboto', sans-serif;

    --bg-logo: #8E9AAF;
    --bg-title: #CBC0D3;
    --bg-span: #FEEAFA;
    --bg-page: #EFF1FF;

    --col-title: #FFFFFF;
    --col-text: #23053A;
    --col-span: #4A4E69;
    ;
}

@media (min-width: 1024px) {
    .page {
        display: flex;
        flex-direction: row; 
    }

}

body {
    background: var(--bg-page);
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 18px 32px 0px;
    margin-bottom: 60px;
}

@media (min-width: 1024px) {
    main .mob {
        display: none;
    }

    main {
        margin-left: 100px;
        margin-bottom: 0px;
    }

}

header h1, span {
    font-family: var(--ff-grandes);
}

.mob {
    font-family: var(--ff-text);
}

header {
   background: var(--bg-logo);
   display: flex;
   flex-direction: column;
   place-items: center;
   
   
}

@media (min-width: 1024px) {
    header {
        width: 477px;
        margin-bottom: 0;
    }

    header .desk {
        color: var(--col-title);
        font-family: var(--ff-desk);
        text-align: center;
        display: block;
        width: 275px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        height: 100vh; /* deixando ele correr até o final*/
        margin-top: 20px;
        
    }
}

header img {
    padding: 32px;
}

.title {
    width: 100%;
    background: var(--bg-title);
    margin-bottom: 29px;
    text-align: center;
    padding: 8px 0;
}

 h1 {
    color: var(--col-title);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    line-height: 34px;
    letter-spacing: 5px;
    font-weight: 400;
    
}

.desk {
    display: none;
}

.mob {
    color: var(--col-text);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    
    
    width: 100%;
}

.cards {
    display: grid;
    gap: 32px;
    margin-top: 62px;
}




.cards img {
        width: 100%;
        height: auto;
    }


@media (min-width: 700px){
    main .cards {
        grid-template-areas:
          'A B C'
          'D B E'
          'D F E';

      }

      
    
      .cards .card:nth-child(1) {
        grid-area: F;
      }
      .cards .card:nth-child(2) {
        grid-area: B;
      }
      .cards .card:nth-child(3) {
        grid-area: C;
      }
      .cards .card:nth-child(4) {
        grid-area: D;
      }
      .cards .card:nth-child(5) {
        grid-area: A;
      }
      .cards .card:nth-child(6) {
        grid-area: E;
      }

      
}




.cards .card span {
    border-radius: 20px;
    background: var(--bg-span);
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: var(--col-span);
    padding: 0 24px;
    right: 16px;
    top: 16px;
    position: absolute;
    
    animation-name: topdown;
    animation-duration: 2s;
}

@media (min-width: 1024px) {
    .cards .card span {
        display: none;
    }
}


.cards .card {
    text-align: center;
    position: relative;
    animation-name: downtop;
    animation-duration: 1s;
}

.card.un {
    display: none;
}

@media (min-width: 700px) {
    .cards .card.un {
        display: block;
      } 
}


@media (min-width: 1024px) {
   main .card.un {
    display: block;
   }
   
}

.cards img:hover {
    
    transform: scale(1.05);
    opacity: 0.8;
    transition-duration: 600ms;
    

}

footer {
    font-family: var(--ff-footer);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-top: 50px;

    text-align: center;
    display: none;
}

@media (min-width: 700px) {
    main footer {
        display: block;
      } 
}

@media (min-width: 1024px) {
    main footer {
        display: block;
    }
}


footer a {
    color: var(--col-span);
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
   
}

@keyframes topdown {
    
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes downtop { 
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    50% {
        opacity: 0.2;
    }

    75% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

